@import url("https://fonts.googleapis.com/css2?family=Trispace&display=swap");

:root {
  --primarycolor: #2d2d2d;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Trispace, serif;
  line-height: 1.6;
  color: var(--primarycolor);
}

button {
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  border: 1px solid var(--primarycolor);
  padding: 6px 12px;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: var(--primarycolor);
}

button:hover {
  color: #ffffff;
  background-color: var(--primarycolor);
  border-color: var(--primarycolor);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
}

.container {
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 576px) {
  header {
    flex-direction: column;
  }
  .container {
    max-width: 540px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
